<nav>
  <h1>Hi!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.gif" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>This is my blog... I will most likely post a blog every week...</p>
    So far blog posts: <font face="Impact" "color="#005c99">8</font>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
<html>
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7853205013294084",
    enable_page_level_ads: true
  });
</script>
</head>
</html>
