
table {
    border-collapse: collapse;
	 box-shadow: 10px 10px 5px red;
	Width:100%;
}

table, th, td, tt {
    border: 1px solid black;
}

th, td, tt {
    padding: 15px;
    text-align: left;
}

td {
    background-color: #42c2f4;
    color: $black;
	font: "Comic Sans MS", cursive, sans-serif
    
}

tt {
    background-color: #e2b74a;
    color: $black;
	font: "Comic Sans MS", cursive, sans-serif
    
}

th {
    background-color: #e2b74a;
    color: $black;
	font: "Arial Black", Gadget, sans-serif
